<template lang="pug">
	div
		.site-wrap
			v-login-form
</template>

<script>
import loginForm from '@/components/login_form'
export default {
	name: 'login',
	components: {
		'v-login-form': loginForm
	},
	data() {
		return {
		}
	},
}
</script>

<style scoped lang="stylus">
	.site-wrap
		background-image: linear-gradient(rgba(255,255,255,0.7) 240px, #f2f7fb 0%)
		min-height: 100vh
		background-color: #42a5f5
		padding: 30px 0
</style>
