<template lang="pug">
	div
		.form__wrap
			form.form.form--login(method="post" @submit.prevent="auth")
				.form__title Sign In
				.form__capture Sign in with your regular account
				.form__input-wrap
					input(type="text" v-model="inp_username" :class="{ 'active': inp_username !== ''}").form__input
					span.form__input-bar
					label.form__label.form__label--loat Username
				.form__input-wrap
					input(:type="passwordFieldType" v-model="inp_password" :class="{ 'active': inp_password !== ''}").form__input
					span.form__input-bar
					label.form__label.form__label--loat Password
					span.form__input-pass(@click="togglePassword")
						div(v-if="isPassword")
							font-awesome-icon(icon="eye")
						div(v-else)
							font-awesome-icon(icon="eye-slash")
				.form__bottom
					.form__check-wrap
						input(type="checkbox" id="remember").form__check
						label(for="remember").form__check-label Remember me
				.form__submit-wrap
					input(type="submit" value="login").form__submit
</template>

<script>

import {AUTH_REQUEST} from '@/actions/auth'
export default {
	name: 'loginForm',
	data () {
		return {
			formLocal: this.form,
			passwordFieldType: 'password',
			isPassword: true,
			inp_username: '',
			inp_password: '',
		}
	},
	methods: {
		togglePassword(){
			if(this.passwordFieldType == 'password'){
				this.passwordFieldType = 'text'
				this.isPassword = false;
			} else{
				this.passwordFieldType = 'password'
				this.isPassword = true;
			}
		},
		auth(){
			console.log(this.inp_username);
			console.log(AUTH_REQUEST);

			const { inp_username, inp_password } = this
			this.$store.dispatch(AUTH_REQUEST, { inp_username, inp_password }).then(() => {
			this.$router.push('/')
			})
		}
	}
}
</script>

<style scoped lang="stylus">
	.form
		padding: 20px
		&__wrap
			background-color: #fff
			border-radius: 5px
			max-width: 450px
			margin: 20px auto 0 auto
			box-shadow: 0 0 5px 0 rgba(43,43,43,0.1), 0 11px 6px -7px rgba(43,43,43,0.1)
		&__title
			text-align: center
			font-size: 24px
			font-weight: 600
			font-family: 'Quicksand', sans-serif
		&__btns
			display flex
			align-items center
			justify-content space-between
			margin-top 28px
		&__btn
			width 46.5%
			color #fff
			font-size 15px
			border-radius 2px
			text-transform capitalize
			padding 11px 19px
			text-align center
			&:hover
				text-decoration: none
			&--facebook
				background-color #3b5998
			&--google
				background-color #E34E3E
			i
				margin-right 5px
		&__capture
			margin-top 40px
			font-size 14px
			color #868e96
			text-align center
		&__input-wrap
			margin-top 18px
			position relative
		&__label
			top 12px
			font-size 14px
			pointer-events none
			position absolute
			top 12px
			left 0
			font-size 14px
			font-weight 400
			transition 0.2s ease all
		&__input
			display: inline-block
			height: 43px
			width: 100%
			border: none
			border-radius: 0
			font-size: 16px
			font-weight: 400
			padding: 0
			background-color: transparent
			-webkit-box-shadow: none
			box-shadow: none
			border-bottom: 1px solid #ccc
			&-bar
				position: relative
				display: block
				width: 100%
				&:before
					content: ''
					height: 2px
					width: 0
					bottom: 0
					position: absolute
					transition: 0.3s ease all
				&:after
					content: ''
					height: 2px
					width: 0
					bottom: 0
					position: absolute
					transition: 0.3s ease all
			&-pass
				position: absolute
				right: 0
				top: 50%
				transform translateY(-50%)
			&.active
			&:focus
				border-color transparent
				outline none
				box-shadow none
				& ~ span
					&:before
						left 50%
					&:after
						right 50%
					&:before
					&:after
						background #4099ff
						width 50%
				& ~ .form__label
					color #4099ff
					top -14px
					font-size 11px
		&__bottom
			display flex
			align-items center
			justify-content space-between
			margin-top 20px
		&__forgot
			font-size: 14px
			font-weight 600
			text-align right
			color #37474f
			margin-right 0
			margin-left auto
			&:hover
				color #4099ff
				text-decoration none
		&__check-label
			font-size 15px
			line-height 20px
			color #333
			position relative
			padding-left 36px
			&:before
				content ''
				width 20px
				height 20px
				border 2px solid #4099ff
				display block
				position absolute
				left 0
				top 50%
				transform translateY(-50%)
			&:after
				content ''
				width 14px
				height 14px
				position absolute
				background-color #4099ff
				left 3px
				top 50%
				transform translateY(-50%)
				transition all .2s
				opacity 0
				visibility hidden
		&__check
			&:checked
				&~label
					&:after
						opacity 1
						visibility visible
		&__submit
			margin-top 30px
			font-size 15px
			color #fff
			text-transform uppercase
			text-align center
			width 100%
			background-color #4099ff
			border none
			padding 10px 16px
			border-radius 2px
		&__footer
			color #37474f
			font-size 14px
			line-height 1.4
			margin-top 20px
			padding-bottom 16px
			letter-spacing 0.02em
			a
				color #37474f
				&:hover
					color #4099ff
					text-decoration none
</style>
