<template lang="pug">
	div
		Header
		Filters(:cars="cars" @filtered-cars="filtered")
		Pagination( :current="currentPage" :size="size" :total="totalCars" @page-changed="fetchCars")
		CarsList(:cars="pagCars")
</template>

<script>

import json from './../../../data/cars.json';
import Header from '@/components/Header.vue';
import CarsList from '@/components/CarsList.vue';
import Filters from '@/components/Filters.vue';
import Pagination from '@/components/Pagination.vue';

export default {
	name: 'homepage',
	components: {
		Header,
		CarsList,
		Filters,
		Pagination
	},
	data() {
		return {
			cars: json,
			filtered_cars: [],
			search: '',
			currentPage: 0,
			size: 8,
			pagCars: [],
			totalCars: 9
		}
	},
	methods: {
		filtered(filtered_list){
			this.cars = filtered_list;
			this.currentPage = 0;
			this.fetchCars(this.currentPage);
		},
		fetchCars: function(page){
			this.currentPage = page;
			this.totalCars = this.cars.length
			const start = page * this.size,
				end = start + this.size;
			this.pagCars = this.cars.slice(start, end);
		}
	},
	created: function() {
		this.fetchCars(this.currentPage);
	}
}
</script>

<style lang="stylus">

</style>
