<template lang="pug">
	v-app
		section.section.section--list
			.pr-container
				input(v-model="search" type="text" placeholder="search").input__search
				.form-caption Цена:
				.slider
					v-flex(shrink style="width: 60px")
						v-text-field(v-model="price_val[0]" hide-details single-line type="number").mt-0
					v-range-slider(v-model="price_val" value="150105" :max="maxPrice" :min="minPrice" :step="1")
					v-flex(shrink style="width: 60px")
						v-text-field(v-model="price_val[1]" hide-details single-line type="number").mt-0
				.filters-wrap
					form.form__filters.form__filters--bodytype
						.form-caption Тип кузова:
						ul.filters
							li(v-for="(type, index) in bodytype_ru")
								input(type="checkbox" :id="type" name="bodytype_ru" :value="type" v-model="bodytype_filter")
								label(:for="type") {{type}}
					form.form__filters.form__filters--fuel
						.form-caption Топливо:
						ul.filters
							li(v-for="(type, index) in fuel_ru")
								input(type="checkbox" :id="type" name="fuel_ru" :value="type" v-model="fuel_filter")
								label(:for="type") {{type}}
					form.form__filters.form__filters--fuel
						.form-caption Коробка передач:
						ul.filters
							li(v-for="(type, index) in transmission_ru")
								input(type="checkbox" :id="type" name="transmission_ru" :value="type" v-model="transmission_filter")
								label(:for="type") {{type}}
				ul.list
					li(v-for="(item, index) in filteredList").list__item
						a(href=NULL).car
							.car__image
								v-img(:src="item.picture" height="210")
							.car__content
								.car__top
									.car__content-left
										.car__title {{item.title}}
										.car__name {{item.carmark}}
										.car__model {{item.name}}
										.car__year {{item.year}}
										.car__bodytype {{item.bodytype_ru}}
										.car__fuel {{item.fuel_ru}}
										.car__transmission {{item.transmission_ru}}
									.car__content-right
										.car__color(:style="{ backgroundColor: item.color }")
								.car__bottom
									.car__price {{item.price}}
										span $
									a(href=NULL).car__button View details

</template>

<script>
	import json from './../../data/cars.json'

	export default {
		name: 'CarsList',
		data() {
			return {
				search: '',
				colors: [],
				cars: json,
				bodytype_ru: ["Внедорожник", "Кабриолет", "Кроссовер", "Купе", "Лифтбэк", "Микроавтобус", "Микровэн", "Минивэн", "Пикап"],
				bodytype_en: ["Off-road", "Cabriolet", "Crossover", "Coupe", "Liftback", "Minibus", "Mikroven", "Minivan", "Pickup"],
				transmission_ru: ["Автомат", "Вариатор", "Гидромеханическая", "Гидростатическая", "Механическая", "Планетарная", "Полуавтомат", "Роботизированная", "Секвентальная", "Типтрони"],
				transmission_en: ["Automatic", "Variator", "Hydromechanical", "Hydrostatic", "Mechanical", "Planetary", "Semiautomatic", "Robotic", "Sequential", "Tiptronic"],
				fuel_ru: ["Бензин", "Бензин/Газ", "Бензин/Электричество", "Газ", "Дизтопливо", "Дизтопливо/Электричество", "Электричество"],
				fuel_en: ["Gasoline", "Gasoline / Gas", "Gasoline / Electricity", "Gas", "Diesel Fuel", "Diesel Fuel / Electricity", "Electricity"],
				bodytype_filter: [],
				fuel_filter: [],
				transmission_filter: [],
				price_val: ['0', '90000']
			};
		},
		mounted() {
			axios.get('https://unpkg.com/color-name-list@4.7.1/dist/colornames.json').then((response) => {
				this.colors = response.data;
			});
		},
		computed: {
			filteredList() {
				var cars_length = this.cars.length;
				// filter cars by checkboxes function
				function multiFilter(array, filters) {
					const filterKeys = Object.keys(filters);
					// filters all elements passing the criteria
					return array.filter((item) => {
						// dynamically validate all filter criteria
						return filterKeys.every(key => {
							// ignores an empty filter
							if (!filters[key].length) return true;
							return filters[key].includes(item[key]);
						});
					});
				}

				var cb_bodytype = {
					bodytype_ru: Object.values(this.bodytype_filter)
				}
				var cb_fuel = {
					fuel_ru: Object.values(this.fuel_filter)
				}
				var cb_transmission = {
					transmission_ru: Object.values(this.transmission_filter)
				}
				var filtered_bodytype = multiFilter(this.cars, cb_bodytype);
				var filtered_fuel = multiFilter(filtered_bodytype, cb_fuel);
				var filtered_transmission = multiFilter(filtered_fuel, cb_transmission);
				var filtered_1 = filtered_fuel.filter(e=>filtered_bodytype.findIndex(i=>i.index == e.index) > -1);
				var filtered = filtered_transmission.filter(e=>filtered_fuel.findIndex(i=>i.index == e.index) > -1);


				console.log(filtered);

				return filtered.filter((car) => {
					if (car.price >= this.price_val[0] && car.price <= this.price_val[1]) {
							return car.color.indexOf(this.search) > -1 || car.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1 || car.carmark.toLowerCase().indexOf(this.search.toLowerCase()) > -1;
					}
				})
			},
			minPrice() {
				var min = this.cars[0].price;
				for (var i = 1; i < this.cars.length; ++i) {
					if (this.cars[i].price < min) min = this.cars[i].price;
				}
				return min;
			},
			maxPrice() {
				var max = this.cars[0].price;
				for (var i = 1; i < this.cars.length; ++i) {
					if (this.cars[i].price > max) max = this.cars[i].price;
				}
				return max;
			}
		},
		methods: {}
	}
</script>

<style lang="stylus">
	.filters-wrap
		display: flex
		align-items stretch
		flex-wrap wrap
		form
			margin-right 20px
	.form-caption
		font-size 18px
		font-weight: 600
	.list
		display flex
		flex-wrap wrap
		&__item
			width 23%
			margin 1% 1%
			border 1px solid #eee
			border-radius 3px
			box-shadow 0 0 2px 0 rgba(30, 38, 44, .25)
			transition all .3s ease-out
			font-family 'Roboto', sans-serif
			color #000
			&:hover
				box-shadow 0 6px 25px 0 rgba(30, 38, 44, .3)
				.car
					&__image
						opacity 0.85

	.car
		position relative
		&__image
			width 100%
			height 210px
			border-radius 3px 3px 0 0
			.v-responsive
				border-radius 3px 3px 0 0
		&__content
			background-color #fff
			padding 10px 15px
			color #000
		&__top
			display flex
			justify-content space-between
		&__button
			color #1976d2
		&__title
			font-size 16px
			font-weight 600
			margin-bottom 6px
		&__name
			font-size 14px
			display inline
		&__model
			font-size 14px
			display inline
		&__year
			font-size 14px
			display inline
		&__price
			margin 10px 0
			color #85bb65
			font-size 17px
			font-weight 700
		&__color
			width 20px
			height 20px
			border-radius 50%
			border 1px solid #000

	.input__search
		height 33px
		border 1px solid #1976d2
		border-radius 3px
		width 100%
		margin 20px 0
		padding 0 10px

	.slider
		display flex
		align-items center
		justify-content space-between
		width 100%
		.v-input--range-slider
			margin-right 15px
			margin-left 15px

	.v-text-field
		input
			text-align center

	.filters
		width 250px
		display flex
		flex-direction column
		li
			padding 5px 0
			position relative
		label
			&:before
				content ""
				position absolute
				display block
				cursor pointer
				background-color #c9c9c9
				width 16px
				height 16px
				top 50%
				right 0
				transform translateY(-50%)
			&:after
				position absolute
				display block
				cursor pointer
				content ""
				background-color #1976d2
				background-size contain
				width 12px
				height 12px
				top 50%
				right 2px
				opacity 0
				transform translateY(-50%)
				transition 0.2s
				z-index 2
		input[type=checkbox]:checked ~ label:after
			opacity 1

</style>
