<template lang="pug">
	v-app
		section.section.section--list
			.pr-container
				ul.list
					li(v-for="(item, index) in cars").list__item
						a(href=NULL).car
							.car__image
								v-img(:src="item.picture" height="210")
							.car__content
								.car__top
									.car__content-left
										.car__title {{item.title}}
										.car__name {{item.carmark}}
										.car__model {{item.name}}
										.car__year {{item.year}}
										.car__bodytype {{item.bodytype_ru}}
										.car__fuel {{item.fuel_ru}}
										.car__transmission {{item.transmission_ru}}
									.car__content-right
										.car__color(:style="{ backgroundColor: item.color }")
								.car__bottom
									.car__price {{item.price}}
										span $
									a(href=NULL).car__button View details
</template>

<script>


export default {
	name: 'CarsList',
	props: ['cars']
}
</script>

<style lang="stylus">
	.list
		display flex
		flex-wrap wrap
		&__item
			width 23%
			margin 1% 1%
			border 1px solid #eee
			border-radius 3px
			box-shadow 0 0 2px 0 rgba(30, 38, 44, .25)
			transition all .3s ease-out
			font-family 'Roboto', sans-serif
			color #000
			&:hover
				box-shadow 0 6px 25px 0 rgba(30, 38, 44, .3)
				.car
					&__image
						opacity 0.85

	.car
		position relative
		&__image
			width 100%
			height 210px
			border-radius 3px 3px 0 0
			.v-responsive
				border-radius 3px 3px 0 0
		&__content
			background-color #fff
			padding 10px 15px
			color #000
		&__top
			display flex
			justify-content space-between
		&__button
			color #1976d2
		&__title
			font-size 16px
			font-weight 600
			margin-bottom 6px
		&__name
			font-size 14px
			display inline
		&__model
			font-size 14px
			display inline
		&__year
			font-size 14px
			display inline
		&__price
			margin 10px 0
			color #85bb65
			font-size 17px
			font-weight 700
		&__color
			width 20px
			height 20px
			border-radius 50%
			border 1px solid #000
	

</style>
