<template lang="pug">
	div
		.pr-container
			.filters-wrap
				input(v-model="search_text" type="text" placeholder="search").input__search
				form.form__filters.form__filters--bodytype
					.form-caption Тип кузова:
					ul.filters
						li(v-for="(type, index) in bodytype_ru")
							input(type="checkbox" :id="type" name="bodytype_ru" :value="type" v-model="bodytype_filter")
							label(:for="type") {{type}}
				form.form__filters.form__filters--fuel
					.form-caption Топливо:
					ul.filters
						li(v-for="(type, index) in fuel_ru")
							input(type="checkbox" :id="type" name="fuel_ru" :value="type" v-model="fuel_filter")
							label(:for="type") {{type}}
				form.form__filters.form__filters--fuel
					.form-caption Коробка передач:
					ul.filters
						li(v-for="(type, index) in transmission_ru")
							input(type="checkbox" :id="type" name="transmission_ru" :value="type" v-model="transmission_filter")
							label(:for="type") {{type}}
			a(href="#" @click="filteredList").search-btn search
</template>

<script>
export default{
	name: 'Filters',
	props: ['cars'],
	data() {
		return{
			search_text: '',
			search: '',
			cars_list: this.cars,
			filtered_cars: [],
			bodytype_ru: ["Внедорожник", "Кабриолет", "Кроссовер", "Купе", "Лифтбэк", "Микроавтобус", "Микровэн", "Минивэн", "Пикап"],
			bodytype_en: ["Off-road", "Cabriolet", "Crossover", "Coupe", "Liftback", "Minibus", "Mikroven", "Minivan", "Pickup"],
			transmission_ru: ["Автомат", "Вариатор", "Гидромеханическая", "Гидростатическая", "Механическая", "Планетарная", "Полуавтомат", "Роботизированная", "Секвентальная", "Типтрони"],
			transmission_en: ["Automatic", "Variator", "Hydromechanical", "Hydrostatic", "Mechanical", "Planetary", "Semiautomatic", "Robotic", "Sequential", "Tiptronic"],
			fuel_ru: ["Бензин", "Бензин/Газ", "Бензин/Электричество", "Газ", "Дизтопливо", "Дизтопливо/Электричество", "Электричество"],
			fuel_en: ["Gasoline", "Gasoline / Gas", "Gasoline / Electricity", "Gas", "Diesel Fuel", "Diesel Fuel / Electricity", "Electricity"],
			bodytype_filter: [],
			fuel_filter: [],
			transmission_filter: [],
		}
	},
	methods: {
		filteredList() {
			this.search = this.search_text;
			console.log(this.cars_list);
			var cars_length = this.cars_list.length;
			// filter cars by checkboxes function
			function multiFilter(array, filters) {
				const filterKeys = Object.keys(filters);
				// filters all elements passing the criteria
				return array.filter((item) => {
					// dynamically validate all filter criteria
					return filterKeys.every(key => {
						// ignores an empty filter
						if (!filters[key].length) return true;
						return filters[key].includes(item[key]);
					});
				});
			}

			var cb_bodytype = {
				bodytype_ru: Object.values(this.bodytype_filter)
			}
			var cb_fuel = {
				fuel_ru: Object.values(this.fuel_filter)
			}
			var cb_transmission = {
				transmission_ru: Object.values(this.transmission_filter)
			}
			var filtered_bodytype = multiFilter(this.cars_list, cb_bodytype);
			var filtered_fuel = multiFilter(filtered_bodytype, cb_fuel);
			var filtered_transmission = multiFilter(filtered_fuel, cb_transmission);
			var filtered_1 = filtered_fuel.filter(e=>filtered_bodytype.findIndex(i=>i.index == e.index) > -1);
			var filtered = filtered_transmission.filter(e=>filtered_fuel.findIndex(i=>i.index == e.index) > -1);

			this.filtered_cars = filtered.filter((car) => {
				return car.color.indexOf(this.search) > -1 || car.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1 || car.carmark.toLowerCase().indexOf(this.search.toLowerCase()) > -1;
			});
			this.$emit('filtered-cars', this.filtered_cars);
		}
	}
}
</script>

<style lang="stylus">
	.search-btn
		border 1px solid #1976d2
		display inline-flex
		align-items center
		justify-content center
		padding 4px 8px
		&:hover
			background-color #1976d2
			color #fff
	.filters-wrap
		display: flex
		align-items stretch
		flex-wrap wrap
		margin-top 20px
		form
			margin-right 20px
	.form-caption
		font-size 18px
		font-weight: 600
	.input__search
		height 33px
		border 1px solid #1976d2
		border-radius 3px
		width 100%
		margin 20px 0
		padding 0 10px

	.slider
		display flex
		align-items center
		justify-content space-between
		width 100%
		.v-input--range-slider
			margin-right 15px
			margin-left 15px

	.v-text-field
		input
			text-align center

	.filters
		width 250px
		display flex
		flex-direction column
		li
			padding 5px 0
			position relative
		label
			&:before
				content ""
				position absolute
				display block
				cursor pointer
				background-color #c9c9c9
				width 16px
				height 16px
				top 50%
				right 0
				transform translateY(-50%)
			&:after
				position absolute
				display block
				cursor pointer
				content ""
				background-color #1976d2
				background-size contain
				width 12px
				height 12px
				top 50%
				right 2px
				opacity 0
				transform translateY(-50%)
				transition 0.2s
				z-index 2
		input[type=checkbox]:checked ~ label:after
			opacity 1
</style>