<template lang="pug">
-var NULL = 'javascript:void(0)';
header.header
	.pr-container
		.header__content
			.header__left
				.header__logo
					img(src="../assets/logo.png" alt="logo")
				nav.header__nav
					ul.header__nav-list
						li.header__nav-item
							a(href=NULL).header__nav-link Автомобили б/у
						li.header__nav-item
							a(href=NULL).header__nav-link Новые автомобили
			.header__right
				.header__account
					.header__account-star
						img(src="../assets/svg/starwheel.svg" alt="star").svg.svg--star
					a(href=NULL).header__account-link
						.header__account-avatar
							img(src="../assets/svg/user.svg" alt="user").svg.svg--user
						.header__account-link
							router-link(to="/login") Вход в кабинет
				.header__lang
					.header__lang-item.header__lang-item--active Рус
					.header__lang-item Укр

</template>

<script>
export default {

}
</script>

<style lang="stylus">
.header
	background-color #1976d2
	color #fff
	height 70px
	font-size 15px
	box-shadow 0px 4px 4px rgba(0, 0, 0, 0.25)
	&__content
		height 70px
		display flex
		align-items center
		justify-content space-between
	&__left
	&__right
		height 100%
		display flex
		align-items center
	&__logo
		width 173px
		height 100% 
	&__nav
		margin-left 15px
		height 100%
		&-list
			height 100%
			display flex
			align-items center
		&-item
			height 100%
			display inline-flex
			align-items center
			margin 0 10px
		&-link
			color #fff
	&__account
		display flex
		align-items center
		&-link
			color #fff
			display flex
			align-items center
			a
				color #fff
		&-avatar
			margin 0 15px
	&__lang
		display flex
		align-items center
		justify-content space-between
		margin-left 35px
		width 80px
		height 23px
		background-color #2780B7
		border-radius 13px
		&-item
			width 50%
			height 100%
			display inline-flex
			align-items center
			justify-content center
			cursor pointer
			&--active
				background-color #fff
				border-radius 13px
				color #2780B7

.svg
	&--user
		width 25px
		height 25px
		fill #fff
	&--star
		width 25px
		height 25px

</style>