<template lang="pug">
	div
		.pr-container
			.ul.pagination
				li.pagination__item.pagination__item--start
					a(href="javascript:void(0)" @click="changePage(prevPage)").pagination__link Назад
				.pag-cur
					span {{currentPage+1}} из {{totalPages}}
				li.pagination__item.pagination__item--end
					a(href="javascript:void(0)" @click="changePage(nextPage)").pagination__link Вперед
</template>

<script>
export default {
	name: 'Pagination',
	props: {
		current: Number,
		total: Number,
		size: Number,
	},
	data(){
		return{
			currentPage: this.current
		}
	},
	computed: {
		totalPages(){
			return Math.ceil(this.total/this.size)
		},
		nextPage: function(){
			return this.current+1;
		},
		prevPage: function(){
			return this.current-1;
		}
	},
	created: function(){
		console.log(this.currentPage);
	},
	methods: {
		hasPrev(){
			return this.currentPage > 1
		},
		hasNext(){
			return this.currentPage < this.totalPages
		},
		changePage(page) {
			this.$emit('page-changed', page);
			this.currentPage = page;
		}
	}
}
</script>

<style lang="stylus">
	.pagination
		display flex
		align-items center
		justify-content space-between
		margin 20px 0
		&__link
			display block
			text-align center
			font-family Helvetica, Arial, sans-serif
			font-weight 300
			line-height 42px
			height 44px
			color #999
			font-size 18px
			padding 0 20px
			max-width: 160px
			background-color transparent
			border-radius 4px
			border 1px solid #ccc
			text-decoration none
			margin 0 6px
			transition all .2s ease-in-out
			&:hover
				border-color: #ea4c89
				color #ea4c89
		&__item
			list-style-type none
</style>