<template lang="pug">
	div#app
		.site-wrap
			router-view
</template>

<script>

import json from './../data/cars.json'
export default {
	name: 'app',
	data() {
		return {
			cars: json
		}
	}
}
</script>

<style>
@import './assets/css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu|Ubuntu+Mono|Roboto');
</style>

<style lang="stylus">
	html
	body
		font-family 'Ubuntu', sans-serif
	.pr-container
		max-width 1150px
		width 100%
		margin 0 auto
		padding 0 15px
</style>
